.content-card .card-title {
  font-size: 16px;
}

.content-card .card-text {
  font-size: 14px;
  color: rgb(155, 155, 155);
}

#heartfill {
  position: absolute;
  color: rgb(255, 255, 255);
  right: 10px;
  top: 10px;
  font-size: 25px;
  filter: drop-shadow(1px 2px 2px #3d3d3d);
  opacity: 1;
  cursor: pointer;
}

#heart {
  position: absolute;
  color: rgb(255, 255, 255);
  right: 10px;
  top: 10px;
  font-size: 25px;
  filter: drop-shadow(1px 2px 2px #3d3d3d);
  opacity: 0.1;
  cursor: pointer;
.content-card .PlayPauseBtn {
  background-color: #1db954;
  color: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
  box-shadow: 0 0 10px black;
  transition: all 0.3s;
  opacity: 0;
  transform: scaleY(0);
}

.content-card:hover .PlayPauseBtn {
  opacity: 1;
  transform: scaleY(1);
}

.content-card .PlayPauseBtn:hover,
.content-card .PlayPauseBtn.playing:hover {
  transform: scale(1.2);
}

.content-card .PlayPauseBtn.playing {
  opacity: 1;
  transform: scaleY(1);
}
